streamlit==1.32.2
google-generativeai==0.5.2
langchain==0.1.16
langchain-google-genai==1.0.3
langchain-community==0.0.34
faiss-cpu==1.8.0
pypdf==4.2.0
python-dotenv==1.0.1
langchain-text-splitters==0.0.1
